<!-- <header>
    <img src="./assets/logotipoKODO.jpg">
    <input type="search" placeholder="search">
    <div class="userLogged">
        @if(usuario!==undefined){
        <img src="./assets/logotipoKODO.jpg">
        <p>Usuario: {usuario}</p>
        }else{
            <img src="./assets/guest.webp">
            <p>Usuario anonimo</p>
        }
    </div>
</header> -->
<header>
    <img src="./assets/logotipoKODO.jpg">
    <input type="search" placeholder="search">
    <div class="userLogged">
        <img src="{{ usuario !== null ? logoUser : logoAnonimo}}">
        <p>{{usuario !==null ? 'Usuario: '+usuario : 'Usuario anonimo'}}</p>
    </div>
</header>